<!DOCTYPE html>
<html>

<head>

    <title>DevOpsMind AI</title>

    <link
        rel="stylesheet"
        href="/static/css/style.css"
    >

</head>

<body>

<div class="container">

<h1>🚀 DevOpsMind AI</h1>

<p>
Your AI DevOps Engineer
</p>

<textarea
id="message"
placeholder="Type something...

Example:

Deploy latest code

Show workflows

Why did deployment fail?"
></textarea>

<br><br>

<button id="execute">

Execute

</button>

<hr>

<h2>Response</h2>

<pre id="response">

AI is waiting...

</pre>

</div>

<script src="/static/js/app.js"></script>

</body>

</html>
